body{
    min-height: 100vh;
    background: url('img/white-background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position: sticky;
    display: flex;
    background-color: greenyellow;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    height: 60px;
    border: solid 2px #333;
}
.bo{
    display: flex;
    align-items: center;
    gap: 5px;
}
a {
  text-decoration: none;
}
nav {
    background-color: #333;
    overflow: hidden;
    height: 40px;
}
.button{
    height: 35px;
    width: 35px;
    margin: 10px;
    padding: 0;
}
nav a {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    float: left;
    color: white;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 20px;
    flex-flow: row wrap;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 30px;
    background-color: rgb(196, 28, 28);
    color: white;
    margin: 30px auto;
    padding: 20px 20px;
    width: 110px;
    height: 110px;
    transition: background 1s, transform 0.3s;
    text-align: center;
}

@media (max-width:500px){
    .box{
        flex-direction: column;
    }
}